

<div class="container- content">
    <div class="row px-auto">
        <div class="col-lg-6">
            <button type="button" class="btn btn-primary" routerLink="/page/paper">
                Starts new
            </button>

        </div>
        <div class="col-lg-6">
            dilod status
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            dilog history
        </div>
        <div class="col-lg-6">
            dilog setting
        </div>
    </div>
</div>