  .full-height {
      height: 100vh;
  }

  .form {
      display: flex;
      flex-direction: column;
      gap: 14px;
      padding: 20px;
  }

  .signup-form{
    width: 50%;
  }

  .card{
    --bs-card-border-width: unset;
  }
  .custom-file-input {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .custom-file-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .custom-file-input label {
    position: relative;
    display: inline-block;
  
    font-size: 16px;
    cursor: pointer;
  }
  
  .custom-file-input label i {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .custom-file-input label span {
    font-size: 16px;
    color: #666;
  }

  @media (max-width: 768px) {
    .signup-form{
        width: 100%;
      }
  }