.post{
    border-radius: 25px;
    margin: 10px;
    box-shadow:inset 0px 0px 20px 5px snow;
 
}
 .title{
    padding: 20px;
}

.question-card {
    background-color: #F3EAE1;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    font-weight: bold;
}
