<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="container full-height d-flex justify-content-center align-items-center">
    <div class="w-100">
        <div class="card">
            <form class="question-form " [formGroup]="questionForm" (ngSubmit)="onSubmit()">
                <button *ngIf="isedit" type="button" class="ms-auto mt-3 border-0 rounded bg-transparent"
                    routerLink="/page" (click)="this.questionForm.reset(); isedit=false"><i
                        class="pi pi-times"></i></button>
                <label class="fs-1 fw-1" for="chk" aria-hidden="true" *ngIf="!isedit">Add Question</label>
                <label class="fs-3 fw-1" style="margin-top: 0;" aria-hidden="true" *ngIf="isedit">Edit Question</label>

                <div class="form-floating ">
                    <input
                        [ngClass]="{'form-control':true , 'border-danger': questionForm.get('question')?.invalid && questionForm.get('question')?.touched}"
                        for="question" type="text" formControlName="question" placeholder="Question" required="">

                    <div class="text-danger"
                        *ngIf="questionForm.get('question')?.invalid && questionForm.get('question')?.touched">
                        Question is required .
                    </div>
                    <label class="text-black">Question</label>
                </div>

                <div class="form-floating ">
                    <input
                        [ngClass]="{'form-control':true , 'border-danger': questionForm.get('answer')?.invalid && questionForm.get('answer')?.touched}"
                        for="answer" type="text" formControlName="answer" placeholder="Answer" required="">

                    <div class="text-danger"
                        *ngIf="questionForm.get('answer')?.invalid && questionForm.get('answer')?.touched">
                        Answer is required .
                    </div>
                    <label class="text-black">Answer</label>
                </div>

                <div class="form-floating ">
                    <input
                        [ngClass]="{'form-control':true , 'border-danger': questionForm.get('optionA')?.invalid && questionForm.get('optionA')?.touched}"
                        for="optionA" type="text" formControlName="optionA" placeholder="OptionA" required="">

                    <div class="text-danger"
                        *ngIf="questionForm.get('optionA')?.invalid && questionForm.get('optionA')?.touched">
                        OptionA is required .
                    </div>
                    <label class="text-black">OptionA</label>
                </div>

                <div class="form-floating ">
                    <input
                        [ngClass]="{'form-control':true , 'border-danger': questionForm.get('optionB')?.invalid && questionForm.get('optionB')?.touched}"
                        for="optionB" type="text" formControlName="optionB" placeholder="OptionB" required="">

                    <div class="text-danger"
                        *ngIf="questionForm.get('optionB')?.invalid && questionForm.get('optionB')?.touched">
                        OptionB is required .
                    </div>
                    <label class="text-black">OptionB</label>
                </div>

                <div class="form-floating ">
                    <input
                        [ngClass]="{'form-control':true , 'border-danger': questionForm.get('optionC')?.invalid && questionForm.get('optionC')?.touched}"
                        for="optionC" type="text" formControlName="optionC" placeholder="OptionC" required="">

                    <div class="text-danger"
                        *ngIf="questionForm.get('optionC')?.invalid && questionForm.get('optionC')?.touched">
                        OptionC is required .
                    </div>
                    <label class="text-black">OptionC</label>
                </div>

                <div class="form-floating ">
                    <input
                        [ngClass]="{'form-control':true , 'border-danger': questionForm.get('optionD')?.invalid && questionForm.get('optionD')?.touched}"
                        for="optionD" type="text" formControlName="optionD" placeholder="OptionD" required="">

                    <div class="text-danger"
                        *ngIf="questionForm.get('optionD')?.invalid && questionForm.get('optionD')?.touched">
                        OptionD is required .
                    </div>
                    <label class="text-black">OptionD</label>
                </div>

                <div class="form-floating">
                    <input
                        [ngClass]="{'form-control':true , 'border-danger': questionForm.get('hardness')?.invalid && questionForm.get('hardness')?.touched}"
                        for="hardness" type="number" formControlName="hardness" placeholder="Hardness" min="1" max="10"
                        required="">

                    <div class="text-danger"
                        *ngIf="questionForm.get('hardness')?.invalid && questionForm.get('hardness')?.touched">
                        Hardness is required and it should 1 to 10 only.
                    </div>
                    <label class="text-black">Hardness</label>
                </div>

                <button *ngIf="!isedit" class="button-primary" type="submit">Add Question</button>
                <button *ngIf="isedit" class="button-primary" type="button" (click)="onupdate()">Update
                    Question</button>
            </form>
        </div>
    </div>
</div>